.header-button {
  padding: 0.5rem;
  border: none;
  border-radius: 0.6rem;
  color: #fff;
  cursor: pointer;
  margin: 1rem;
  width: 15rem;
}

.create {
  background-color: #5570f1; /* Color hover del navbar */
}

.cancel {
  background-color: #CC5F5F; /* Color hover del navbar */
  color: #fff;
}

.update {
  background-color: #1C1D22; /* Color hover del navbar */
  color: #fff;
}

.header-button:hover {
  background-color: #b4c1ff; /* Color hover del navbar */
  color: #fff;
}

@media screen and (max-width: 360px) {
  .header-button {
    width: 180px;
  }
}

@media screen and (max-width: 320px) {
  .header-button {
    width: 150px;
  }
}
