.card {
  background-color: #ffffff;
  border-radius: 0.6rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  padding: 1rem;
  width: calc(50% - 2rem);
  height: 10rem;
}

.card-img {
  width: 100%;
  height: 30%;
}

.card-img img {
  width: 24px;
  height: 24px;
  object-fit: cover;
}

.card-columns {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.card-column {
  width: 40%;
}

.card-title h6 {
  font-size: 0.8rem;
  color: gray;
  font-weight: 500;
}

.card-data h6 {
  font-size: 1rem;
  color: #000;
}

@media (max-width: 1000px) {
  .card {
    width: calc(100% - 2rem);
  }
}

@media (max-width: 700px) {
  .card {
    height: 18rem;
  }

  .card-columns {
    flex-direction: column;
    margin-top: 0.5rem;
  }

  .card-column {
    margin-top: 10px;
    width: 100%;
  }
}
