.datatable {
  width: 100%;
  height: 450px;
  padding: 20px;

  background-color: #ffffff;
}

.cellWithStatus {
  padding: 5px;
  border-radius: 5px;
}

.active {
  background-color: #b4c1ff;
  color: #000;
}

.inactive {
  background-color: #ff9e9e;
  color: #000;
}

.cellAction {
  display: flex;
  align-items: center;
  gap: 15px;
}

.viewButton {
  padding: 2px 5px;
  border-radius: 5px;
  color: #b4c1ff;
  border: 1px dotted #b4c1ff;
  cursor: pointer;
}

.deleteButton {
  padding: 2px 5px;
  border-radius: 5px;
  color: #ff9e9e;
  border: 1px dotted #ff9e9e;
  cursor: pointer;
}

.editButton {
  padding: 2px 5px;
  border-radius: 5px;
  color: #5570f1;
  border: 1px dotted #5570f1;
  cursor: pointer;
}

.cellWithImage {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cellWithImage img {
  width: 50px;
  height: 60px;
  border-radius: 50%;
}
