/* Estilos para el Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 17.5rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  transition: width 0.3s ease;
}

.navbar.collapsed {
  width: 5rem;
}

.navbar.expanded {
  width: 17.5rem;
}

.navbar.navbar-responsive {
  position: absolute;
  top: 0;
  left: -2000px;
  transition: width 0.1s ease;
}

.navbar.navbar-mobile-clicked {
  z-index: 1;
  left: 0;
  width: 17.5rem;
  transition: width 0.1s ease;
}

.logo {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.navigation {
  list-style-type: none;
  padding: 0;
  width: 100%;
  margin-top: 2rem;
}

.nav-item {
  border-radius: 10px;
  color: #53545c;
  cursor: pointer;
}

.nav-item img {
  margin-right: 1rem;
}

.nav-item.expanded {
  padding: 1rem 1rem 1rem 2.5rem;
  margin: 0.8rem 0;
  display: flex;
}

.nav-item.collapsed {
  padding: 1.1rem 1rem 0.7rem 0.9rem;
  margin: 0.8rem 0;
}

.nav-item:hover {
  background-color: #b4c1ff;
}

.nav-item.active {
  background-color: #5570f1;
  outline: none;
  color: #fff;
}

.logout {
  margin-top: auto;
  cursor: pointer;
}

/* Estilos para el Header */
.header {
  height: 60px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  transition: width 0.5s ease;
}

.header.collapsed {
  width: calc(100% - 5rem);
  margin-left: 5rem;
}

.header.expanded {
  width: calc(100% - 17.5rem);
  margin-left: 17.5rem;
}

.menu {
  width: 40px;
  height: 40px;
}

.circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.title {
  font-size: 1.2rem;
}

/* Estilos para el Main */
.main {
  height: calc(100vh - 60px);
  background-color: #eef0fa;
  padding: 1rem;
  transition: margin-left 0.5s ease;
}

.main.collapsed {
  margin-left: 5rem;
}

.main.expanded {
  margin-left: 17.5rem;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
}

.dashboard {
  width: 100%;
  height: 100%;
  display: flex;
}

.dashboard-column-1 {
  width: 60%;
  height: 100%;
}

.dashboard-cards {
  width: 100%;
  height: 20%;
  display: flex;
}

.dashboard-sales,
.dashboard-customers {
  width: 50%;
  height: 100%;
  margin: 0 1rem;
  padding: 1rem;

  background-color: #fff;
  border-radius: 1rem;
}

.sales-content,
.customers-content,
.custom-content,
.orders-content,
.products-content {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.sales,
.volume,
.customers,
.customers-active,
.products,
.products-active {
  width: 40%;
}

.sales h3,
.volume h3,
.customers h3,
.customers-active h3,
.custom h3,
.orders h3,
.pending h3,
.completed h3,
.products h3,
.products-active h3,
.recent-orders h3 {
  font-size: 0.8rem;
  font-weight: bold;
  color: gray;
}

.sales h4,
.volume h4,
.customers h4,
.customers-active h4,
.custom h4,
.orders h4,
.pending h4,
.completed h4,
.products h4,
.products-active h4 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #000;
}

.dashboard-diagrams {
  width: 100%;
  height: 60%;
  display: flex;
}

.dashboard-cake-diagram {
  width: 380px;
  height: 340px;
  margin: 1rem;

  background-color: #fff;
  border-radius: 1rem;
}

.dashboard-products {
  width: 380px;
  height: 160px;
  margin: 1rem;
  padding: 1rem;

  background-color: #fff;
  border-radius: 1rem;
}

.dashboard-cart {
  width: 380px;
  height: 160px;
  margin: 0 1rem;
  padding: 1rem;

  background-color: #fff;
  border-radius: 1rem;
}

.dashboard-custom {
  width: 790px;
  height: 160px;
  margin: 0 1rem;
  padding: 1rem;

  background-color: #fff;
  border-radius: 1rem;
}

.dashboard-column-2 {
  width: 40%;
  height: 100%;
}

.dashboard-orders {
  width: 95%;
  height: 20%;
  margin: 0 1rem;
  padding: 1rem;

  background-color: #fff;
  border-radius: 1rem;
}

.custom,
.orders,
.pending,
.completed {
  width: 30%;
}

.dashboard-recent-orders {
  width: 95%;
  height: 520px;
  margin: 1rem;
  padding: 1rem;

  background-color: #fff;
  border-radius: 1rem;
}

.recent-orders-content {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

.recent-orders-content h3 {
  font-size: 1rem;
  font-weight: bold;
  color: gray;
}

.recent-orders-status {
  width: 100px;
  height: 30px;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.in-proccess {
  background-color: #fff2e2;
}

.in-proccess h5 {
  color: #f5a623;
}

.completed-order {
  background-color: #5570f1;
}

.completed-order h5 {
  color: #fff;
}

.recent-orders-content h4 {
  font-size: 1rem;
  color: #000;
}

.recent-orders-noorders {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dashboard-table-container {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
}

.dashboard-table {
  width: 60%;
  height: 90%;
  margin: 1rem;
  padding: 1rem;
  background-color: #fff;
  border-radius: 1rem;
}

.main-dashboard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1400px) {
  .dashboard {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .dashboard-column-1,
  .dashboard-column-2 {
    width: 80%;
  }

  .dashboard-cards-2 {
    width: 50%;
  }

  .dashboard-cake-diagram {
    width: 360px;
  }

  .dashboard-products,
  .dashboard-cart {
    width: 90%;
    height: 42%;
  }

  .dashboard-custom {
    width: 96%;
    height: 42%;
    margin: 0 1rem 1rem 1rem;
  }

  .dashboard-orders {
    width: 96%;
    margin-bottom: 10px;
  }

  .dashboard-recent-orders {
    width: 96%;
    height: 500px;
  }

  .dashboard-table {
    width: 80%;
    height: 100%;
  }
}

@media (max-width: 1200px) {
  .dashboard-column-1,
  .dashboard-column-2 {
    width: 90%;
  }

  .dashboard-table {
    width: 90%;
    height: 100%;
  }
}

@media (max-width: 1100px) {
  .dashboard-column-1,
  .dashboard-column-2 {
    width: 100%;
  }
}

@media (max-width: 950px) {
  .dashboard-cards {
    height: 40%;
    flex-direction: column;
    align-items: center;
  }

  .dashboard-sales,
  .dashboard-customers {
    width: 80%;
  }

  .dashboard-sales {
    margin-bottom: 1rem;
  }

  .dashboard-diagrams {
    flex-direction: column;
    align-items: center;
  }

  .dashboard-cake-diagram {
    width: 400px;
    height: 370px;
  }

  .dashboard-custom {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 1rem;
  }

  .dashboard-cards-2 {
    width: 80%;
  }

  .dashboard-cart {
    margin: 1rem;
  }

  .dashboard-column-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .dashboard-orders,
  .dashboard-recent-orders {
    width: 80%;
  }
}

@media (max-width: 800px) {
  .dashboard-sales,
  .dashboard-customers,
  .dashboard-cards-2,
  .dashboard-orders,
  .dashboard-recent-orders {
    width: 90%;
  }

  .dashboard-products,
  .dashboard-cart {
    width: 96%;
  }

  .dashboard-cake-diagram {
    width: 65%;
    height: 300px;
  }

  .dashboard-custom {
    width: 90%;
  }
}

@media (max-width: 600px) {
  .dashboard-table {
    width: 100%;
    height: 250px;
  }
}

@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 600px) {
  .header {
    justify-content: flex-end;
  }
  .header.expanded {
    width: 100%;
    margin-left: 0;
  }
  .header.collapsed {
    width: 100%;
    margin-left: 0;
  }
  .main.expanded {
    margin-left: 0;
  }
  .main.collapsed {
    margin-left: 0;
  }
}

@media (max-width: 400px) {
  .custom-content,
  .orders-content,
  .products-content {
    flex-direction: column;
  }

  .sales,
  .volume,
  .customers,
  .customers-active,
  .products,
  .products-active {
    width: 80%;
    margin-top: 1rem;
  }

  .custom,
  .orders,
  .pending,
  .completed {
    width: 80%;
    margin-top: 1rem;
  }
}
