.orders-container {
  min-height: 100vh;
  height: calc(100% - 60px);
  background-color: #eef0fa;
  padding: 1rem;
  transition: margin-left 0.5s ease;
}

.orders-container.collapsed {
  margin-left: 5rem;
}

.orders-container.expanded {
  margin-left: 17.5rem;
}

.orders-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.orders-header-buttons {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.orders-main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.modal-orders {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-orders-content {
  background-color: #fff;
  padding: 1rem;
  border-radius: 5px;
  width: 920px;
  max-height: 90vh;
  overflow-y: auto;
}

.modal-orders-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
  padding: 1rem;
}

.close {
  font-size: 20px;
  cursor: pointer;
}

h4 {
  margin: 0;
}

.form-modal-orders {
  margin-top: 20px;
  padding: 1rem;
}

.modal-order-body {
  display: flex;
}

.modal-orders-body-left,
.modal-orders-body-right {
  width: 50%;
}

.form-group {
  margin-bottom: 25px;
}

.form-group input,
.form-group select {
  width: 95%;
  padding: 10px;
  background-color: #eff1f9;
  border: none;
  border-radius: 4px;
}

.datetime-container {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#date,
#time,
#paymentType,
#orderType {
  width: 48%;
  color: #abafb1;
}

.form-group textarea {
  width: 95%;
  height: 150px;
  background-color: #eff1f9;
  border-radius: 1rem;
  padding: 1rem;
}

.form-group textarea::placeholder {
  color: #abafb1;
}

.search-bar {
  display: flex;
  align-items: center;
  border-radius: 1rem;
  padding-left: 1rem;
  border: 1px solid #b0b4b6;
}

.search-bar:focus {
  border: 1px solid #abafb1;
}

.search-bar input {
  width: 80%;
  background-color: transparent;
}

.search-bar .search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: transparent;
}

.search-bar .search-button img {
  width: 1rem;
  height: 1rem;
}

.modal-footer {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.modal-footer button {
  width: 80%;
  height: 100%;
  padding: 1rem;
  margin: 0.75rem;
  border-radius: 5px;
  cursor: pointer;
}

.cancel-button {
  background-color: transparent;
  border: 1px solid #5570f1;
  color: #5570f1;

  background-color: #f2f2f2;
}

.add-button {
  background-color: #5570f1;
  border: 1px solid #5570f1;
  color: #ffffff;
}

.form-modal-detail {
  color: #8b8d97;
  font-size: 14px;
  padding-left: 1rem;
}

.form-modal-label-detail {
  color: #8b8d97;
  font-size: 12px;
}

.modal-orders-client-select {
  width: 100%;
  padding: 10px;
  background-color: #eff1f9;
  border: none;
  border-radius: 4px;
  color: #abafb1;
}

.modal-orders-client-select option {
  color: #787a83;
  background-color: #eff1f9;
}

.modal-products {
  width: 100%;
  max-height: 380px;
  min-height: 380px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  overflow-y: scroll;
  border-radius: 0px 0px 5px 5px;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #abafb1;
}

.modal-products::-webkit-scrollbar {
  width: 5px;
}

.modal-product {
  display: flex;
  min-height: 100px;
  max-height: 100px;
  width: 100%;
  margin-bottom: 1rem;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: #cfd3d4;
  overflow-y: hidden;
}

.modal-product-img {
  width: 20%;
  min-height: 100px;
  max-height: 100px;
  border-radius: 5px 0px 0px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-product-img img {
  object-fit: cover;
  border-radius: 8px 8px;
}

.modal-product-detail {
  width: 55%;
  min-height: 100px;
  max-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0.5rem;
}

.modal-product-name {
  font-size: 13px;
  color: #45464e;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Número de líneas máximas */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.modal-product-footer {
  display: flex;
  justify-content: space-between;
}

.modal-product-price {
  font-size: 14px;
  color: #33343a;
  font-weight: bold;
}

.modal-product-add {
  width: 25%;
  min-height: 100px;
  max-height: 100px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-product-add-button {
  background-color: transparent;
  color: #5570f1;
  font-weight: bold;
  overflow: hidden;
  font-size: 12px;
  width: 120px;
  cursor: pointer;
}

.modal-add-product-display {
  width: 100%;
  max-height: 380px;
  min-height: 380px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}

.add-product-title {
  font-size: 18px;
  color: #000;
  font-weight: bold;
  margin-top: 1rem;
}

.add-product-paragraph {
  font-size: 12px;
  color: #8b8d97;
  margin-top: 1rem;
}

.modal-products-selected {
  width: 100%;
  max-height: 380px;
  min-height: 380px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  overflow-y: scroll;
}

.modal-products-selected::-webkit-scrollbar {
  width: 5px;
}

.modal-product-selected {
  display: flex;
  min-height: 110px;
  max-height: 110px;
  width: 100%;
  margin-bottom: 1rem;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: #cfd3d4;
  overflow-y: hidden;
}

.modal-product-img-selected {
  width: 25%;
  min-height: 110px;
  max-height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-product-img-selected img {
  object-fit: cover;
  border-radius: 8px 8px;
}

.subtotal-text-selected {
  font-size: 14px;
  color: #8b8d97;
  margin-top: 1rem;
}

.modal-product-detail-selected {
  width: 40%;
  min-height: 100px;
  max-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0.5rem;
}

.modal-product-quantity {
  width: 35%;
  min-height: 110px;
  max-height: 110px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.modal-product-quantity-buttons {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.modal-product-quantity-space {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.modal-product-quantity-remove {
  font-size: 14px;
  color: #ff9e9e;
  font-weight: bold;
  cursor: pointer;
}

.modal-product-minus-button {
  width: 26px;
  height: 26px;
  border-radius: 6px;
  color: #393a41;
  font-size: 14px;
  background-color: #f3f3f3;
  cursor: pointer;
}

.modal-product-plus-button {
  width: 26px;
  height: 26px;
  border-radius: 6px;
  color: #393a41;
  font-size: 14px;
  background-color: #f3f3f3;
  cursor: pointer;
}

.modal-product-quantity-value {
  font-size: 16px;
  color: #33343a;
  font-weight: bold;
  margin: 0 0.7rem;
  color: #5570f1;
}

.modal-product-quantity-value-input {
  width: 60px;
  height: 28px;
  border-radius: 6px;
  color: #5570f1;
  font-size: 12px;
  background-color: #eff1f9;
  border: none;
  text-align: center;
  font-weight: bold;
  outline: none;
}

.modal-product-quantity-subtotal {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-product-quantity-subtotal-value {
  font-size: 14px;
  color: #33343a;
  font-weight: bold;
  margin: 0 0.7rem;
}

.modal-product-selected-total {
  display: flex;
  margin: 0px 2.5rem;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.modal-product-selected-total-text {
  font-size: 14px;
  color: #8b8d97;
  font-weight: bold;
}

.modal-product-selected-total-price {
  font-size: 14px;
  color: #33343a;
  font-weight: bold;
}

.orders-noorders {
  width: 100%;
  height: 450px;
  padding: 10px;
  margin: 0 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.order-add-order {
  position: absolute;
  top: 21rem;
}

@media screen and (max-width: 1000px) {
  .modal-orders-content {
    max-width: 90vw;
  }
}

@media screen and (max-width: 800px) {
  .modal-order-body {
    flex-direction: column;
    align-items: center;
  }

  .modal-orders-body-left,
  .modal-orders-body-right {
    width: 70%;
  }
}

@media screen and (max-width: 600px) {
  .orders-container.collapsed {
    margin-left: 0;
  }
  .orders-container.expanded {
    margin-left: 0;
  }
}

@media screen and (max-width: 500px) {
  .modal-orders-body-left,
  .modal-orders-body-right {
    width: 100%;
  }

  .modal-footer {
    flex-direction: column;
    align-items: center;
  }

  .orders-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .orders-header-buttons {
    width: 100%;
  }
}
